# Runtime config values are automatically replaced by matching environment variables at runtime
# OpenAI
OPENAI_API_KEY=""
OPENAI_PROXY_URL=""
# Chroma
CHROMA_COLLECTION_NAME="my_collection"
# Google
GOOGLE_CUSTOM_SEARCH_SECRET=""
GOOGLE_CSE_ID=""
