:root {
  --pageBgColor: #F5F7FA;
  --btnBgColor: #EAEFFF ;
}

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--pageBgColor);
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}
