:root {
  --pageBgColor: #F5F7FA;
  --btnBgColor: #EAEFFF ;
  --text-color-primary: #4876FF;
	--text-silder-color: #4F5470;
}

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: var(--pageBgColor);
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}
